<html>
<head>
    <title>{% if song is not null %}{{ song.title }} ({{ playlist.name }}){% else %}playlist{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style.css') }}" />

    <script>
        var videoId = '{% if song is not null %}{{ song.videoId }}{% endif %}';
        var nextVideoUrl = '{% if nextVideoId is not null %}{{ path("song", {playlist: playlist.id, song: nextVideoId}) }}{% else %}{{ path("homepage") }}{% endif %}';
    </script>

    <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
    <script src="{{ asset('bundles/app/js/handler.js') }}"></script>
    <script src="{{ asset('bundles/app/js/player.js') }}"></script>
    <script src="{{ asset('bundles/app/js/sockets.js') }}"></script>
</head>
<body>
    <img src="{{ asset('bundles/app/img/bg.png') }}" id="bg"/>

    <div id="undertable">
        <table width="100%">
            <thead>
            <tr>
                <th colspan="2">
                    {% if song is not null %}
                    <h1>{{ song.title }}</h1>
                    {% endif %}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="3" width="800">
                    <div id="ytplayer"></div>
                </td>
                <td>
                    {{ form(playlistForm) }}
                </td>
                </tr>
            <tr>
                <td>

                    <ul style="list-style: none" id="playlist">Songs:
                        {% for lisong in songs %}
                            <li>
                                <a href="{{ path("song", {song: lisong.id, playlist: playlist.id}) }}" {% if lisong == song %}class="active"{% endif %}>
                                    {% if lisong == song %}
                                        <strong>&blacktriangleright;</strong>
                                    {% endif %}
                                    {% if lisong.thumb != "" %}<img src="{{ lisong.thumb }}" class="thumb" />{% endif %}
                                    {{ lisong.title }}
                                </a>
                            </li>
                        {% else %}
                            <li>No songs</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('admin_app_song_create') }}">dodaj piosenkę</a>
                    {% if playlist is not null %}
                    | <a href="{{ path("song", {playlist: playlist.id, song: nextVideoId}) }}">następna piosenka</a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</body>
</html>

